<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CRMAPPTestSuite" >

	<listeners>
		<listener class-name="com.vmetry.crmapp.retryanalyzer.RetryAnnotation" />
	</listeners>

	<test thread-count="5" name="CRMAPPTest">
		<parameter name="Browser" value="Chrome" />
		<parameter name="UserName" value="velmurugan" />
		<parameter name="Password" value="9789679298" />

		<classes>
			<class name="com.vmetry.crmapp.testcase.CRMAppwebPageTest" />
		</classes>
	</test> <!-- CRMAPPTest -->
</suite> <!-- CRMAPPTestSuite -->
